/*Defualt style*/

body{
  text-align: center;
  font-family: "helvetica", sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: auto;
}

.content{
  padding-top: 70px;
  margin: auto;
  width: 1200px;
}

.image{
  height: 200px;
  width: 300px;
  background-size: cover;
}

/*-----------------------------------------------------------------------------*/
/*Header styles*/

header{
  display: flex;
  position: fixed;
  align-items: center;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
}

.logo{
  display: flex;
  flex-grow: 1;
  padding-left: 10px;
}

header nav{
  padding-right: 10px;
}

nav span{
  display: inline-block;
  padding: 20px 10px;
}

a{
  color: seashell;
}

/*-----------------------------------------------------------------------------*/
/*Mission styles*/
#mission{
  display: flex;
  background-image: url('../images/img-mission-background.jpg');
  background-size: cover;
  height: 700px;
  justify-content: center;
}

.mission-banner{
  background-color: black;
  width: 100%;
  margin: auto;
}

/*-----------------------------------------------------------------------------*/
/*Featured Tea styles*/

#feature{
  width: 1000px;
  padding-top: 70px;
  padding-bottom: 70px;
  margin: auto;
}

.item{
  display: inline-flex;
  flex-flow: column wrap;
  font-weight: bold;
  margin: 10px;
}

.item span{
  padding-top: 10px;
}

.berry .image{
  display: block;
  background-image: url('../images/img-berryblitz.jpg');
}

.rum .image{
  background-image: url('../images/img-spiced-rum.jpg');
}

.donuts .image{
  background-image: url('../images/img-donut.jpg');
}

.ave .image{
  background-image: url('../images/img-myrtle-ave.jpg');
}

.bizzare .image{
  background-image: url('../images/img-bedford-bizarre.jpg');
}

/*-----------------------------------------------------------------------------*/
/*Locations styles*/
#locations{
  background-image: url('../images/img-locations-background.jpg');
  background-size: cover;
  height: 500px;
  padding-top: 70px;
  margin: auto;
}

.locations-banner{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.location{
  opacity: 1;
  display: flex;;
  flex-direction: column;
  background-color: black;
  width: 300px;
  margin: 0px 20px;
}

/*-----------------------------------------------------------------------------*/
/*Footer styles*/
.details{
  height: 200px
}

.copyright{
  padding-left: 20px;
  text-align: left;
}
